<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Pood</title>

    <link rel="stylesheet" href="/css/style.css">
    <script src="https://unpkg.com/vue@next"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
</head>
<body style="margin: 0;">
    <div id="app">
        <div class="row nav">
            <h1>{{ title() }}</h1>
            <a v-if="loggedIn && screen != 'home'" v-on:click="screen = 'home'">Tooted</a>
            <a v-if="loggedIn && screen != 'cart'" v-on:click="screen = 'cart'">Ostukorv</a>
            <a v-if="loggedIn && screen != 'pay'" v-on:click="screen = 'pay'">Maksma</a>
            <a v-if="!loggedIn" href="/login">Sisene</a>
            <a v-if="!loggedIn" href="/register">Registreeru</a>
            <a v-if="loggedIn && screen != 'user'" v-on:click="screen = 'user'">Konto</a>
            <a v-if="loggedIn" href="/logout">Välju</a>
        </div>
        <section id="home" v-if="screen == 'home'">
            <div class="controls row">
                <input type="text" placeholder="Otsi tooteid..." v-model="search" @change="UI_applyFilter">
                <div class="category">
                    <label for="category">Kategooria:</label>
                    <select name="category" v-model="category" @change="UI_applyFilter">
                        <option v-for="option in categories">
                        {{ option }}
                        </option>
                    </select>
                </div>
            </div>
            <div class="content products">
                <div class="product" v-for="(item, i) in products">
                    <p class="category">/ {{ item.category }}</p>
                    <p class="type">{{ item.name }}</p>
                    <div class="row tags">
                        <p class="cheap" v-if="item.price < 5">Ainult {{ item.price.toFixed(2) }} €</p>
                        <p class="low-quantity" v-if="item.count <= 10">Ainult {{ item.count }} järgi</p>
                    </div>
                    <img :src="item.imgUrl" :alt="item.description">
                    <p class="name">{{ item.description }}</p>
                    <p class="count">Laos {{ item.count }} {{ item.count > 1 ? 'tükki' : 'tükk' }}</p>
                    <div class="row addToCart">
                        <div class="countButton" v-on:click="decrementCount(item.id)">
                            <p>-</p>
                        </div>
                        <div class="column">
                            <p class="price">{{ item.price }} €</p>
                            <p class="cartCount" v-if="findCartProduct(item.id)">{{ findCartProduct(item.id).cartCount }} {{ findCartProduct(item.id).cartCount == 1 ? 'tükk' : 'tükki' }} ostukärus</p>
                        </div>
                        <div class="countButton" v-on:click="incrementCount(item.id)">
                            <p>+</p>
                        </div>
                    </div>
                </div>
                <div class="buffer"></div>
            </div>
        </section>
        <section id="cart" v-if="screen == 'cart'">
            <div class="content products">
                <div class="product" v-for="(cartItem, i) in cart">
                    <p class="category">/ {{ cartItem.item.category }}</p>
                    <p class="type">{{ cartItem.item.name }}</p>
                    <div class="row tags">
                        <p class="cheap" v-if="cartItem.item.price < 5">Ainult {{ cartItem.item.price.toFixed(2) }} €</p>
                        <p class="low-quantity" v-if="cartItem.item.count <= 10">Ainult {{ cartItem.item.count }} järgi</p>
                    </div>
                    <img :src="cartItem.item.imgUrl" :alt="cartItem.item.description">
                    <p class="name">{{ cartItem.item.description }}</p>
                    <p class="count">Laos {{ cartItem.item.count }} {{ cartItem.item.count > 1 ? 'tükki' : 'tükk' }}</p>
                    <div class="row addToCart">
                        <div class="countButton" v-on:click="decrementCount(cartItem.item.id)">
                            <p>-</p>
                        </div>
                        <div class="column">
                            <p class="price">{{ cartItem.item.price }} €</p>
                            <p class="cartCount" v-if="findCartProduct(cartItem.item.id)">{{ findCartProduct(cartItem.item.id).cartCount }} {{ findCartProduct(cartItem.item.id).cartCount == 1 ? 'tükk' : 'tükki' }} ostukärus</p>
                        </div>
                        <div class="countButton" v-on:click="incrementCount(cartItem.item.id)">
                            <p>+</p>
                        </div>
                    </div>
                </div>
                <div class="buffer"></div>
            </div>
        </section>
        <section id="user" v-if="screen == 'user' && loggedIn">
            <div class="row">
                <object :data="user.imageUrl" type="image/jpg"></object>
                <div class="column">
                    <h1>Tere, {{ user.displayName }}!</h1>
                    <p>({{ user.username }})</p>
                    <a href="/logout">Logi välja</a>
                </div>
            </div>
        </section>
    </div>   
    <script src="/js/script.js"></script>
</body>
</html>