<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Pood</title>

    <link rel="stylesheet" href="/css/style.css">
    <script src="https://unpkg.com/vue@next"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
</head>
<body style="margin: 0;">
    <div id="app">
        <div class="row nav">
            <h1>{{ title() }}</h1>
            <a v-if="loggedIn && screen != 'home'" v-on:click="screen = 'home'">Tooted</a>
            <a v-if="loggedIn && screen != 'cart' && !UI_isAdmin()" v-on:click="screen = 'cart'">Ostukorv</a>
            <a v-if="loggedIn && screen != 'pay' && !UI_isAdmin()" v-on:click="screen = 'pay'">Maksma</a>
            <a v-if="loggedIn && screen != 'new' && UI_isAdmin()" v-on:click="screen = 'new'; UI_resetNewProduct();">Lisa</a>
            <a v-if="!loggedIn" href="/login">Sisene</a>
            <a v-if="!loggedIn" href="/register">Registreeru</a>
            <a v-if="loggedIn && screen != 'user'" v-on:click="screen = 'user'">Konto</a>
            <a v-if="loggedIn" href="/logout">Välju</a>
        </div>
        <section id="home" v-if="screen == 'home'">
            <div class="controls row">
                <input type="text" placeholder="Otsi tooteid..." v-model="search" @change="UI_applyFilter">
                <div class="category">
                    <label for="category">Kategooria:</label>
                    <select name="category" v-model="category" @change="UI_applyFilter">
                        <option v-for="option in categories">
                            {{ option }}
                        </option>
                    </select>
                </div>
                <div class="category">
                    <label for="category">Sorteeri:</label>
                    <select name="category" v-model="sorting">
                        <option>A - Z</option>
                        <option>Z - A</option>
                        <option>€ - €€€</option>
                        <option>€€€ - €</option>
                    </select>
                </div>
            </div>
            <div class="content products">
                <div class="product" v-for="item in sortedProducts">
                    <p class="category">/ {{ item.category }}</p>
                    <p class="type">{{ item.name }}</p>
                    <div class="row tags">
                        <p class="cheap" v-if="item.price < 5">Ainult {{ item.price.toFixed(2) }} €</p>
                        <p class="low-quantity" v-if="item.count <= 10">Ainult {{ item.count }} järgi</p>
                    </div>
                    <object :data="item.imgUrl" type="image/jpg"></object>
                    <p class="name">{{ item.description }}</p>
                    <p class="count">Laos {{ item.count }} {{ item.count > 1 ? 'tükki' : 'tükk' }}</p>
                    <div class="row addToCart">
                        <div v-if="loggedIn && !UI_isAdmin()" class="countButton" v-on:click="decrementCount(item.id)">
                            <p>-</p>
                        </div>
                        <div class="column">
                            <p class="price">{{ item.price }} €</p>
                            <p class="cartCount" v-if="findCartProduct(item.id)">{{ findCartProduct(item.id).cartCount }} {{ findCartProduct(item.id).cartCount == 1 ? 'tükk' : 'tükki' }} ostukärus</p>
                        </div>
                        <div v-if="loggedIn && !UI_isAdmin()" class="countButton" v-on:click="incrementCount(item.id)">
                            <p>+</p>
                        </div>
                    </div>
                    <a class="action" v-if="UI_isAdmin()" v-on:click="UI_editProduct(item)">Muuda</a>
                    <a class="action" v-if="UI_isAdmin()" v-on:click="UI_deleteProduct(item.id)">Kustuta</a>
                </div>
                <div class="buffer"></div>
            </div>
        </section>
        <section id="cart" v-if="screen == 'cart'">
            <div class="content products">
                <div class="product" v-for="(cartItem, i) in cart">
                    <p class="category">/ {{ cartItem.item.category }}</p>
                    <p class="type">{{ cartItem.item.name }}</p>
                    <div class="row tags">
                        <p class="cheap" v-if="cartItem.item.price < 5">Ainult {{ cartItem.item.price.toFixed(2) }} €</p>
                        <p class="low-quantity" v-if="cartItem.item.count <= 10">Ainult {{ cartItem.item.count }} järgi</p>
                    </div>
                    <object :data="cartItem.item.imgUrl" type="image/jpg"></object>
                    <p class="name">{{ cartItem.item.description }}</p>
                    <p class="count">Laos {{ cartItem.item.count }} {{ cartItem.item.count > 1 ? 'tükki' : 'tükk' }}</p>
                    <div class="row addToCart">
                        <div class="countButton" v-on:click="decrementCount(cartItem.item.id)">
                            <p>-</p>
                        </div>
                        <div class="column">
                            <p class="price">{{ cartItem.item.price }} €</p>
                            <p class="cartCount" v-if="findCartProduct(cartItem.item.id)">{{ findCartProduct(cartItem.item.id).cartCount }} {{ findCartProduct(cartItem.item.id).cartCount == 1 ? 'tükk' : 'tükki' }} ostukärus</p>
                        </div>
                        <div class="countButton" v-on:click="incrementCount(cartItem.item.id)">
                            <p>+</p>
                        </div>
                    </div>
                </div>
                <div class="buffer"></div>
            </div>
        </section>
        <section id="user" v-if="screen == 'user' && loggedIn">
            <div class="row">
                <object :data="user.imageUrl" type="image/jpg"></object>
                <div class="column">
                    <h1>Tere, {{ user.displayName }}!</h1>
                    <p>({{ user.username }})</p>
                    <a href="/logout">Logi välja</a>
                </div>
            </div>
        </section>
        <section id="pay" v-if="screen == 'pay' && loggedIn">
            <div class="row">
                <div class="column content">
                    <div class="column items">
                        <div class="row item" v-for="(cartItem, i) in cart">
                            <h3 class="name">{{ cartItem.item.name }}</h3>
                            <p class="amount">{{ findCartProduct(cartItem.item.id).cartCount }} tk</p>
                            <p class="price">{{ (findCartProduct(cartItem.item.id).cartCount*findCartProduct(cartItem.item.id).item.price).toFixed(2) }} €</p>
                        </div>
                        <hr>
                        <h1 class="total">Kokku: {{ UI_total() }} €</h1>
                    </div>

                    <button v-on:click="UI_pay">Maksa</button>
            </div>
        </section>
        <section id="new" v-if="(screen == 'new' || screen == 'update') && loggedIn">
            <div class="row">
                <div class="product no-hover">
                    <p class="category">/ {{ newProduct.category }}</p>
                    <p class="type">{{ newProduct.name }}</p>
                    <div class="row tags">
                        <p class="cheap" v-if="newProduct.price < 5">Ainult {{ (newProduct.price || 0).toFixed(2) }} €</p>
                        <p class="low-quantity" v-if="newProduct.count <= 10">Ainult {{ newProduct.count || 0 }} järgi</p>
                    </div>
                    <object :data="newProduct.imgUrl" type="image/jpg"></object>
                    <p class="name">{{ newProduct.description }}</p>
                    <p class="count">Laos {{ newProduct.count || 0 }} {{ newProduct.count > 1 ? 'tükki' : 'tükk' }}</p>
                    <div class="row addToCart">
                        <p class="price">{{ (newProduct.price || 0).toFixed(2) }} €</p>
                    </div>
                </div>

                <div class="column">
                    <p class="rule" v-if="newProduct.category.length == 0">Vähemalt 1 tähemärki</p>
                    <p class="rule" v-if="!UTIL_checkProductCategory(newProduct.category)">Võib sisaldada ainult tähestiku tähti</p>
                    <p class="rule" v-if="!UTIL_checkProductCategory(newProduct.category)">Ei tohi sisaldada tühikut</p>
                    <p class="label">Kategooria</p>
                    <input class="category field" placeholder="kategooria" v-model="newProduct.category">

                    <p class="rule" v-if="newProduct.name.length == 0">Vähemalt 1 tähemärki</p>
                    <p class="rule" v-if="!UTIL_checkProductName(newProduct.name)">Võib sisaldada ainult tühikut ja tähestiku tähti</p>
                    <p class="label">Nimi</p>
                    <input class="type field" placeholder="nimi" v-model="newProduct.name">

                    <p class="rule" v-if="newProduct.imgUrl.length == 0">Vähemalt 1 tähemärki</p>
                    <p class="label">Pildi URL</p>
                    <input class="url field" placeholder="pildi URL" v-model="newProduct.imgUrl">

                    <p class="rule" v-if="newProduct.description.length == 0">Vähemalt 1 tähemärki</p>
                    <p class="label">Kirjeldus</p>
                    <input class="name field" placeholder="kirjeldus" v-model="newProduct.description">

                    <p class="rule" v-if="!UTIL_checkProductCount(newProduct.count)">Peab olema komata täisarv</p>
                    <p class="label">Lao seis</p>
                    <input type="number" class="category field" placeholder="" v-model="newProduct.count">

                    <p class="rule" v-if="!UTIL_checkProductPrice(newProduct.price)">Peab olema arv</p>
                    <p class="label">Hind</p>
                    <input type="number" class="price field" placeholder="" v-model="newProduct.price">

                    <button v-on:click="(newProduct.id ? UI_updateProduct() : UI_newProduct())">{{ newProduct.id ? 'Salvesta' : 'Lisa' }}</button>

                    <p class="rule" v-if="new_feedback" @change="new_feedback = ''">{{ new_feedback }}</p>
                </div>
            </div>
        </section>
    </div>   
    <script src="/js/script.js"></script>
</body>
</html>