<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Pood</title>

    <link rel="stylesheet" href="/css/style.css">
    <script src="https://unpkg.com/vue@next"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
</head>
<body style="margin: 0;">
    <div id="app">
        <section id="login">
            <div class="row menu">
                <h1 class="form-signin-heading">Registreeru</h1>
                <a href="/login">Sisene</a>
            </div>
            <div class="content">
                <form v-on:submit="UI_onSubmitRegister">
                    <p class="rule" v-if="reg_username.length < 5">Vähemalt 5 tähemärki</p>
                    <p class="rule" v-if="!UTIL_checkUsername(reg_username)">Võib sisaldada _</p>
                    <p class="rule" v-if="!UTIL_checkUsername(reg_username)">Ei tohi sisaldada tühikut</p>
                    <div class="field">
                        <label for="username">KASUTAJATUNNUS</label>
                        <input type="text" id="username" name="username" placeholder="" required autofocus="" v-model="reg_username">
                    </div>
                    <p class="rule" v-if="reg_displayName.length < 5">Vähemalt 5 tähemärk</p>
                    <p class="rule" v-if="!UTIL_checkDisplayName(reg_displayName)">Võib sisaldada _ ja tühikut</p>
                    <div class="field">
                        <label for="password">NIMI</label>
                        <input type="text" id="displayName" name="displayName" placeholder="" required autofocus="" v-model="reg_displayName">
                    </div>
                    <p class="rule" v-if="reg_password.length < 7">Vähemalt 7 tähemärk</p>
                    <p class="rule" v-if="!UTIL_checkPassword(reg_password)">Võib sisaldada ' ! " # % & / ( ) = + - *</p>
                    <div class="field">
                        <label for="password">PAROOL</label>
                        <input type="password" id="password" name="password" placeholder="" required v-model="reg_password">
                    </div>
                    <p class="rule" v-if="reg_imageUrl.length == 0">Vähemalt 1 tähemärk</p>
                    <div class="field">
                        <label for="imageUrl">PROFIILIPILT</label>
                        <input type="text" id="imageUrl" name="imageUrl" placeholder="" required v-model="reg_imageUrl">
                    </div>
    
                    <input type="submit" value="Registreeru">

                    <p class="rule" v-if="reg_feedback" @change="reg_feedback = ''">{{ reg_feedback }}</p>
                </form>
                <div class="buffer"></div>
            </div>
        </section>
    </div>   
    <script src="/js/script.js"></script>
</body>
</html>