:root {
    --bg: 255, 255, 255;
    --margin: 64px;
    --product-gap: 24px;
}

body {
    background-color: rgb(var(--bg));
}

* {
    box-sizing: border-box;
}

p, h1, h2, h3, h4, h5, h6, a, button, input, textarea, label, select {
    margin: 0;
    font-family: 'Open Sans', 'Helvetica', 'Arial';
}

a {
    text-decoration: none;
    color: #000;
}
a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.row {
    display: flex;
    flex-direction: row;
}
.column {
    display: flex;
    flex-direction: column;
}

hr {
    width: 100%;
}

textarea.field,
input.field {
    resize: none;
    color: #000;
    border: none;
    outline: none;

    border-bottom: solid 1px transparent;
    padding-bottom: 2px;
}
textarea.field:hover,
input.field:hover {
    border-bottom: solid 1px #ddd;
}
textarea.field:active,
input.field:active {
    border-bottom: solid 1px #888;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


button, input[type="submit"] {
    padding: 8px 24px;

    background-color: white;
    border: solid 1px transparent;

    font-size: 16px;
    font-weight: 400;
    color: #000;
    border-radius: 4px;

    box-shadow: 0 4px 8px #0001, 0 1px 4px #0001;

    transition: box-shadow 0.2s, border 0.2s;
}
button:hover, input[type="submit"]:hover {
    cursor: pointer;

    box-shadow: none;
    border: solid 1px #ddd;
}
button:active, input[type="submit"]:active {
    border: solid 1px transparent;
    box-shadow: inset 0 4px 8px #0001, inset 0 1px 4px #0001;
}

.rule {
    color: #d88;
}




#app {
    width: 100%;
}

#app > section {
    display: flex;
    flex-direction: column;

    margin: 0 0 0 var(--margin);
    padding: var(--margin) var(--margin) var(--margin) 0;
    
    height: calc(100vh);
    overflow-y: auto;
}
#app > section > .content {
    box-sizing: content-box;
    margin-bottom: 64px;
}
#app > section > .content > .buffer {
    width: 100%;
    height: calc(var(--margin) - var(--product-gap));
    clear: both;
}
#app > .nav {
    position: fixed;

    top: 0;
    left: var(--margin);
    right: var(--margin);
    height: var(--margin);

    background: transparent;
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.6548978365384616) 50%, rgba(255,255,255,0) 100%);

    align-items: center;
    gap: 16px;
}

#app > .nav > * {
    color: #000;
}

#app > .nav > h1 {
    font-size: 36px;
    font-weight: 900;
}

#app > .nav > a {
    font-size: 16px;
    font-weight: 400;
}



.controls {
    position: fixed;

    left: var(--margin);
    right: var(--margin);
    bottom: 8px;
    height: calc(var(--margin) - 2 * 8px);

    background-color: #fff;
    border: solid 1px #ddd;

    gap: 16px;
    padding: 0 16px;
}
.controls > input {
    height: 100%;
    flex: 1;

    font-size: 14px;
    border: none;
    outline: none;
}
.controls > .category > * {
    height: 100%;
}
.controls > .category > label {
    font-size: 14px;
}
.controls > .category > select {
    border: none;
    outline: none;
    background: none;
    height: 100%;
    font-size: 14px;
}



.products {
    user-select: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: fit-content;
    gap: var(--product-gap);
}

.product {
    display: flex;
    flex-direction: column;

    width: 240px;
    padding: 8px;

    background-color: #fff;
    box-shadow: none;
    border: solid 1px #ddd;
    transition: box-shadow 0.2s, border 0.2s;
}
.product:not(.no-hover):hover {
    border: solid 1px transparent;
    box-shadow: 0 8px 32px #0002, 0 4px 8px #0004;
}
.product > .category {
    font-weight: 700;
    font-size: 14px;
}
.product > .type {
    font-weight: 700;
    font-size: 28px;
}
.product > .tags > * {
    font-weight: 700;
    font-size: 12px;
    
    padding: 0 8px;
    height: 20px;
    line-height: 20px;
    border-radius: 10px;

    color: white;
}
.product > .tags { gap: 4px; margin-bottom: 8px; }
.product > .tags > .cheap { background-color: #2c4; }
.product > .tags > .low-quantity { background-color: #e44; }

.product > img,
.product > object {
    width: 100%;
    object-fit: contain;
    flex: 1;
}
.product > .name {
    font-weight: 700;
    font-size: 18px;
    text-transform: capitalize;
}
.product > .count {
    font-weight: 500;
    font-size: 12px;

    color: #888;
}
.product > .addToCart {
    padding: 8px 0;
    gap: 16px;
    justify-content: center;
    align-items: center;
}
.product > .addToCart .cartCount {
    font-weight: 500;
    font-size: 12px;

    color: #888;
}
.product > .addToCart .price {
    text-align: center;

    font-weight: 900;
    font-size: 18px;

    color: #aa8;
}
.product > .addToCart .countButton {
    width: 24px;
    height: 24px;
    text-align: center;

    font-weight: 400;
    font-size: 18px;

    border-radius: 12px;
    color: #888;
}
.product > .addToCart .countButton:hover {
    background-color: #f4f4f4;
}
.product .action {
    width: 100%;
    text-align: center;
}


#login > .row.menu {
    align-items: center;
    gap: 16px;
}
#login > .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 32px;
    gap: 16px;
}

#login > .content > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;

    width: min(400px, 100%);
}
#login > .content > form > * {
    width: 100%;
}

#login .field {
    padding: 8px;
    border: solid 1px #ddd;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;

    border-radius: 4px;
    white-space: nowrap;
}
#login .field label[for="text"],
#login .field label[for="username"],
#login .field label[for="password"],
#login .field label[for="imageUrl"] {
    font-size: 14px;
    font-weight: 700;
    color: #ccc;
}
#login .field input[type="text"],
#login .field input[type="password"] {
    width: 100%;
    border: none;
    font-size: 16px;
}
#login .field input[type="text"]:focus,
#login .field input[type="password"]:focus {
    border: none;
    outline: none;
}

#user object {
    width: 96px;
    height: 96px;
    border-radius: 128px;
    background-color: #000;
}
#user > div.row {
    width: 100%;
    gap: 16px;
}

#pay {
    margin-top: var(--margin);
}
#pay .column {
    width: 100%;
}
#pay {
    min-width: 512px;
}
#pay .items {
    align-items: flex-end;
}
#pay .content {
    width: 100%;
    align-items: flex-end;
    gap: 16px;
}
#pay .item {
    width: 100%;
    gap: 16px;
}
#pay .item .name {
    margin-right: auto;
}
#pay .item .amount {
    color: #888;
}


#new {
    width: 100%;
}
#new > .row {
    gap: 16px;
}
#new .label {
    font-weight: 700;
}